name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/Checkout@v4

      - name: Set up Unique Image Tag
        id: vars
        run: echo "IMAGE_TAG=app-image:$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

        - name: Log in to Docker Hub
          uses: docker/login-action@v4
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }}
          file: ./Dockerfile
          build-args: |
            ENV=production
     